<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="aunt_block">
        <form action="/aunt" method="POST">
            <label for="name">Enter name: </label>
            <input id="name" type="text" name="name">
            <label for="pas">Enter pas: </label>
            <input id="pas" type="password" name="pas">
            <input type="submit" value="OK">
        </form>
        <a href="/restration">Зареєструватись</a>
    </div>
</body>

