<head>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="aunt_block">
        <form action="/restr" method="post">
            <label for="name">Ведіть ім'я </label>
            <input id="name" type="text" name="name">
            <label for="pas">Пароль </label>
            <input id="pas" type="password" name="pas">
            <input type="submit" value="Зареєструватись">
        </form>
    </div>
</body>